.page-wrapper-container {
  position: relative;
  height: 320px;
}

.page-wrapper__description {
  background: linear-gradient(to right,
      var(--black-transparent) 80%,
      var(--transparent) 100%);
  transform: translateX(-5px);
}